.header {
  height: 50px;
  margin-bottom: 20px;
  background-color: #455a64;
  color: white;
  position: sticky;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.grid {
  height: 100%;
}

.home {
  color: white;
  font-size: 1em;
}

.cartIcon {
  color: white;
  font-size: 1em;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoppingCart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinkCart {
  text-decoration: none;
  border: 1px solid #e1f5fe;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 35px;
  border-radius: 4px;
}

.navLinkHome {
  text-decoration: none;
  border: 1px solid #e1f5fe;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 35px;
  border-radius: 4px;
}

.navLinkGridCart {
  display: flex;
  justify-content: flex-end;
}

.navLinkGridHome {
  display: flex;
  justify-content: flex-start;
}

.navLinkHome:hover {
  background-color: #9e9e9e;
}

.navLinkCart:hover {
  background-color: #9e9e9e;
}

@media screen and (max-width: 599px) {
  .home {
    font-size: 0.7em;
  }
  .cartIcon {
    font-size: 0.7em;
  }

  .navLinkCart {
    height: 30px;
    width: 90px;
  }

  .navLinkHome {
    height: 30px;
    width: 90px;
  }
}
